<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
   
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          
            <li><a style="font-family: Cursive; color:#fdfffc;font-size: larger;font-weight:500;" href="#">Feature Diagrams</a></li>
          
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">File</a>
                <div class="dropdown-content">
                  <a  href="#"id="invoice" onclick="generatePDF()">Save</a>
                  <a href="/open">Open</a>
                  <a href="#">Share</a>
                  <a href="#" onclick="window.print()">Print</a>
                  
                </div>
              </li>
              <li><a href="/">Home</a></li>
              <li><a href="/about">Account</a></li>
              <li><a href="/team">Create team</a></li>
              <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">View</a>
                <div class="dropdown-content">
                  <a href="#">Tree</a>
                  <a href="#">Table</a>
                </div>
              </li>
                <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Export</a>
                <div class="dropdown-content">
                  <a href="#">PNG</a>
                  <a href="#">JPEG</a>
                </div>
              </li>
        </ul>
        
      </div>
    </div>
  </nav>
