<!DOCTYPE html>
<html>
<head>
  <title>FD</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
</head>
<body>
    
    {% include 'inc/_navbar.html' %}
    
    {% block body %}
    {% endblock %}
    
   <script type="text/javascript" src="{{ url_for('static', filename='script/gojs.js') }}"></script>
  
 
</body>
</html>

