body {
    background-color:#f0e8e8;
  }
  h1 {
              width:500px;
              height:200px;
              position: fixed;
              top: 40%;
              /*left: 40%;*/
              right:60%;
              margin-top: -100px;
              margin-left: -100px;
              color:rgb(9, 3, 58);
              font-family:Cursive} 
   /* start navbar style */
   b{
    width:500px;
    height:200px;
    position: fixed;
    top: 50%;
    /*left: 40%;*/
    right:60%;
    margin-top: -100px;
    margin-left: -100px;
    color:rgb(9, 3, 58);
    font-family:Serif} 

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#3e3e6b;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* end navbar style */
  
  /* start account page style */
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box;}
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }
  /* end account page style */
  /* start login page style */
  button { 
         background-color: #4CAF50; 
         width: 100%;
          color: white; 
          padding: 15px; 
          margin: 10px 0px; 
          border: none; 
          cursor: pointer; 
           } 
   .login-form { 
          border: 3px solid #f1f1f1; 
      } 
   input[type=text], input[type=password] { 
          width: 100%; 
          margin: 8px 0;
          padding: 12px 20px; 
          display: inline-block; 
          border: 2px solid green; 
          box-sizing: border-box; 
      }
   button:hover { 
          opacity: 0.7; 
      } 
    .cancelbtnn { 
          width: auto; 
          padding: 10px 18px;
          margin: 10px 5px;
      } 
        
     
   .containerr { 
          padding: 25px; 
          background-color: #f0e8e8;
      } 
  /* end login page style */

  .diagrambutton {
    background-color: #3e3e6b; 
    color: rgb(252, 246, 246);
    border-style: ridge;
    border-color: #3e3e6b;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    width: 8%;
    margin-left: 88ch;
    margin-right: -55ch;
    margin-top: 4ch;
    
  }

    #myDiagramDiv {
    margin: auto;
  }
  #idgraph {
    margin-left: 40ch;
    margin-right: -50ch;
    margin-top: 3ch;
  }
  #t1 {
    margin-left: 80ch;
    margin-right: -40ch;
  }